.shirt {
    width: 100vw;
    min-height: 70vh;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#shirttext {
    width: 50%;
}

#shirtimages {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.shirtbox {
    width: 100%;  
}

.shirtpic {
    max-width: 80%;
    height: auto;
}

#sizes {
    list-style-type: none;
}

.imagesonly {
    display: flex;
}

hr {
    display: block;
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

#order-shirt {
    text-align: right;
}

.textformbox {
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

@media only screen and (max-width: 800px) {
    .imagesonly {
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {
    .shirt {
        flex-direction: column;
    }
}

@media only screen and (max-width: 400px) {
    .imagesonly {
        width: 100%
    }

    .shirt {
        width: 100%;
    }
}

.form-opener {
    background-color: white;
    padding: 10px;
    border: none;

}

.form-opener:hover {
    cursor: pointer;
}

#after {
    display: none;
}

#errormessage {
    width: 100vw;
    padding: 30px;
    background-color: maroon;
    color: white;
}