.App {
  text-align: center;
  max-width: 100vw;
  overflow-x: hidden;
  position: relative;
}

.App-logo {
  height: 50px;
  pointer-events: none;
}

h1 {
  font-size: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  height: 20vh;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  padding: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.following {
  position: block;
}

@media screen and (max-width: 600px) {
  .App-header {
      padding-top: 40px;
      padding-bottom: 40px;
      flex-direction: column;
  }
}

#intro {
  display: block;
  height: 100vh;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 20px;
}

#introcomp {
  display: block;
}

#aftercomp {
  display: none;
}

#intro1 {
  display: block;
}

#intro2 {
  display: none;
}

p {
  font-size: 14px;
}